$off-black: #4a4a4a;
$off-white: #a5afd7;
$dark-blue: #1D1333;
$purple: #5D347A;
$blue: #3c4251;
$light-blue: #464b5e;
$yellow: #FFDE55;
$d-blue: #0089BC;
$l-blue: #29D1E2;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

@import './base/base';